body {
    /* font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif; */
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0, 0, 10px;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
width: 100%;
height: 100px;
position: absolute;
top: 0;
left: 0;
z-index: 1000;  
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
    border-bottom: 1px solid #505268;
    
}

/* navigation */
.nav {
display: flex;
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .2s linear;
    }

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
   
}

/* intro */

.intro {
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 100px;
height: 750px;
background: #2b2e49 url("/img/intro-bg.jpg") center no-repeat;
background-size:cover;

}

.intro__inner {
width: 100%;
max-width: 970px;
margin: 0 auto;
text-align: center;
}

.intro__title {
margin: 0 0 30px;
font-family: 'Open Sans', sans-serif;
font-size: 65px;
line-height: 1.1;
color: #fff;
font-weight: bold;
text-transform: uppercase;
}

.intro__subtitle {
margin-bottom: 76px;
font-size: 22px;
color: #fff;
line-height: 1.5;
font-weight: 400; 

}

/* Button */

.btn {
display: inline-block;
vertical-align: top;
font-size: 13px;
padding: 14px 40px;
border-radius: 2px;
border: 0;
cursor: pointer;
font-family: 'Raleway', sans-serif;
font-weight: 600;
color: #fff;
text-transform: uppercase;
text-decoration: none;
transition: .1s linear;
}

.btn--red {
    background-color:#e84545;

}

.btn--red:hover {
    background-color:#ad3434;
}


/* FEATURES */
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    padding: 0 40px;
    margin: 25px 0;
    width: 33.33333%; 
    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    font-weight: 400;
    
}

/* Works */


.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content{
opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(232, 69, 69, .9);
    text-align: center;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}


/* team */

.team {
    margin: 100px 0 70px;
}

.team__inner {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    margin-bottom: 30px;
    width: 25%;
    padding: 0 15px;
    
}

.team__photo {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 12px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* social */

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid #e8ecee;
    transition: background-color .1s linear;
    background-color: #fff;

}

.social__item:hover{
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .1s linear;
}

/* reviews */
.reviews {
    background-color: #53354a;
    overflow: hidden;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    padding-left: 80px;
}

.reviews__text { 
    margin-bottom: 25px;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.166666666;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}